<%= form_for(message, remote: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :room_id, value: room.id %>
  <div class="input-group">
    <%= form.text_area :content, placeholder: "Type your message here...", class: 'form-control', style: "height:45px;resize:none;", required: true %>
    <div class="input-group-append">

      <script>
      function myFunction() {
        const element = document.getElementById("silent");
        element.scrollIntoView();
      }
      </script>
      
      <%= form.submit "Send", onclick: "myFunction()", class: "btn btn-primary", id: "chat-btn" %>
    </div>
  </div>
<% end %>
