<div class="row">
  <div class="message mb-2 <%= 'me' if message.user == current_user %>">
    <div class="content-container">
    
      <div class="content">
        <% message.content.split("\n").each do |par| %>
          <%= par %><br>
        <% end %>
      </div>

      <div class="author">
        <%= message.user.email %> 
      </div>
      <%# message.created_at could be added as well%> 
    </div>
  </div>
</div>

<%# message.content.split("\n").each do |par| %>
<%# end %>