<div class="row">
  <div class="message mb-2 me">
    <div class="content-container">
      <div class="content">
        <%= message.content.gsub(/[\r\n]+/, '<br>').html_safe %>
      </div>
      <div class="author">
        <%= message.user.email %>
      </div>
    </div>
  </div>
</div>
