<h1>Success</h1>

<% @users.each do |user| %>
        <div class="card">
            <div class="card-body">
                <span class='name'><%= user.email %></span><br>
            </div>
        </div>
<% end %>

