body {
  overflow-y: hidden;
  height: 98%;
  scroll-padding-bottom: 100px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 7; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: rgb(133, 133, 133);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #ffffff;
  color: white;
}

#search-input:focus {
  background-color: #ff9800; 
  border-color: #cc7a00;
}

.modal-body {padding: 2px 16px; padding-left: 40px; padding-right: 40px}

.modal-footer {
  background-color: #ffffff;
  color: white;
  margin-bottom: 30px;
}

.card-body2 {
  padding: 0;
  padding-top: 30px;
}

#chat-btn {
  background-color: #ff9800; 
  border-color: #cc7a00;
}

#chat-btn:focus {
  box-shadow:0 0 0 .2rem rgba(255,152,0,.5);
}

#room-btn {
  color: #ff9800; 
  border-color: #ff9800;
}

#room-btn:focus {
  background-color: #ff9800; 
  color: white;
  box-shadow:0 0 0 .2rem rgba(255,152,0,.5);
}

#room-btn:hover {
  background-color: #ff9800; 
  color: white;
}

#message_content:focus {
  box-shadow:0 0 0 .2rem rgba(255,152,0,.5);
}

#content, html {
  height: 98%;
}

#left {
  float: left;
  width: 25%;
  background: white;
  height: 100%;
  overflow: scroll;
  padding-left: 30px;
  border-right: 1px solid rgb(233, 233, 233);
}

#left::-webkit-scrollbar {
  background: #ffffff;
}

#left::-webkit-scrollbar-thumb {
  background: #ffffff;
}

#right::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ff9800;
  background-clip: padding-box;
}

#right::-webkit-scrollbar-track {
  margin-top: 57px;
  margin-bottom: 81px;
}

#right::-webkit-scrollbar {
  left: 0;
  position:absolute;
  background: #ffffff;
  right:0%;
  width: 20px;
}

#right {
  float: left;
  width: 75%;
  background: white;
  height: 100%;
  overflow: scroll;
}

.right-linked {
  float: right;
}

.left-linked {
  float: left;
}

.chat-room {
  height: 100vh;

  #messages {
    height: 100%;
    padding-bottom: 100px;
    padding-top: 70px;
  }

  .navbar {
    border-bottom: 1px solid #eeeeee;
    background: #ffffff;
    position: fixed;
    float: right;
    z-index: 5;
    width: 75%;
  }

  ul.a {
    list-style-type: none;
  }

  .message {
    position:relative;
    display: block;
    width:100%;
    min-height: 59px;
    padding-right:30px;
    padding-left:30px;
    .content-container {
      position:relative;
      display: inline-block;
      position:relative;
      .content {
        position:relative;
        background-color: #eeeeee;
        padding: 8px 16px;
        border-radius: 20px;
        max-width: 450px;
        &:hover {
          text-decoration: none;
          background-color: #cfcfcf;
         }
      }
      .author {
        position:relative;
        font-size: 0.8rem;
        color: #777777;
        margin-left: 10px;
      }
    }
    &.me {
      .content-container {
        position:relative;
        float: right;
        .content {
          max-width: 450px;
          position:relative;
          background-color: #ff9800;
          color: white;
          &:hover {
            text-decoration: none;
            background-color: #e48900;
           }
        }
      }
    }
  }
  .chat-box {
    position: fixed;
    float:right;
    bottom: -5px;
    padding: 20px;
    width: 75%;
    background-color: white;
    border-top: 1px solid #eeeeee;
    input[type=text] {
      height: 45px;
      font-size: 18px;
      padding: 8px;
    }
    .btn {
      height: 45px;
    }
  }
}

.card.no-outline {
  border: none;
}

.room-link {
  &:hover {
   text-decoration: none;
  }
  .room-card {
    transition: background-color 0.5s ease;
    border-radius: 20px;
    &:hover {
      background-color: #eeeeee;
    }
    &.active {
      background-color: #2a1468;
      .name {
        color: white;
      }
      .member-count {
        color: #e0e0e0;
      }
    }
    .name {
      font-weight: bold;
      color: #2a1468;
    }
    .member-count {
      color: #777777;
      font-weight: light;
    }
  }
}

.rooms-sidebar {
  border-right: 1px solid #eeeeee;
}

.navbar {
  background: #ffffff;
  position: fixed;
  float: right;
  z-index: 5;
  width: 73%;
}

.members {
  z-index: 10;
  position: fixed;
  float: right;
  padding-left: 1000px;
  padding-top: 15px;
}

.chat-room2 {
  height: 100vh;
  padding-right: 10px;

  .navbar {
    border-bottom: 1px solid #eeeeee;
    margin-left: -15px;
    width: calc(100% + 30px);
  }

  .message {
    position:relative;
    display: block;
    width:100%;
    min-height: 59px;
    padding-right:30px;
    padding-left:30px;
    .content-container {
      position:relative;
      display: inline-block;
      position:relative;
      .content {
        position:relative;
        background-color: #eeeeee;
        padding: 8px 16px;
        border-radius: 20px;
        &:hover {
          text-decoration: none;
          background-color: #c1c1c1;
         }
      }
      .author {
        position:relative;
        font-size: 0.8rem;
        color: #777777;
        margin-left: 10px;
      }
    }
    &.me {
      .content-container {
        position:relative;
        float: right;
        .content {
          position:relative;
          background-color: #ff9800;
          color: white;
          &:hover {
            text-decoration: none;
            background-color: #e48900;
           }
        }
      }
    }
  }
}