<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label "Add a new room" %>
    <%= form.check_box :columndialogue, style: "visibility: hidden;" %>
    <%= form.text_field :name, class: 'form-control', required: true, placeholder: "Room name" %>
  </div>

  <%= form.submit "Add", id: "room-btn", class: "btn btn-outline-primary btn-block" %>
<% end %>
