<br>
<input type="search" class="form-control" id="mySearch" onkeyup="myFunction()" style='width:500px; margin-left: 30px;' placeholder="Search.." title="Type in a category"><br>
    <ul class="a" id="myUL">
        <% @users.each do |user| %>
            <% if user.id != current_user.id %>
                <li class="text-muted" style="padding-left: 30px; margin-right: 30px"><p id="searched-user" onClick="reply_click(this.id)"><%= user.email %></p></li>
            <% end %>
        <% end %>
    </ul>
<%= form_with(model: room, local: true) do |form| %>
    <br>      
    <%= form.check_box :columndialogue, checked: "checked", style: "visibility: hidden;" %>  
    <%= form.text_field :name, class: 'form-control', id: "submit-string", style: "background-color: #cfcfcf;", required: true, placeholder: "User name" %>
    <br>
    <%= form.submit "Start a chat!", id: "room-btn", class: "btn btn-lg btn-primary btn-block", style: "background-color: #ff9800; color: white;" %>
    <br>
    <br>
<% end %>
<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("mySearch");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("p")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
    
window.onload = guidGenerator(); 
    function func() {
          return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
        }
    function guidGenerator() {
        var yourElement = document.querySelectorAll('[id=searched-user]');
        for (let i = 0; i < yourElement.length; i++) {
        var S4 = func()
        yourElement[i].setAttribute("id", S4);
        console.log(S4)
        }
       }
       
           function reply_click(clicked_id)
    {
        var x = document.getElementById("submit-string");
        var submitButId = clicked_id;
        var link = document.getElementById(submitButId);
        var text = link.innerHTML;
        console.log(text)
        x.setAttribute("value", text);
    }
    </script>