<button id="modal-btn" class="btn btn-outline-secondary btn-block" disabled>Search</button>
<div id="popup-modal" class="modal">
  <div class="modal-content">
    <span class="close" style="padding-left: 97%;padding-top: 4px;">&times;</span>
    <div class="text-center" style="color: black;"><h1>Search</h1></div>
    <div class="modal-body">
      <br>
      <p style="padding-left: 30px;">Here you can search for users and start a chat:</p>
      <%= render 'search_form', room: Room.new %>
    </div>
  </div>
</div>
<script>
var modal = document.getElementById("popup-modal");
var btn = document.getElementById("modal-btn");
var span = document.getElementsByClassName("close")[0];
document.addEventListener('readystatechange', event => { 
  if (new URLSearchParams(window.location.search).get('callFunction') === 'specialFunction') {
    modal.style.display = "block";
  }
});
span.onclick = function() {
  window.location.replace('/');
}
window.onclick = function(event) {
  if (event.target == modal) {
    window.location.replace('/');
  }
}
</script>