<% if signed_in? %>
  <div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
  <div id="user-id" data-user-id="<%= current_user.id %>"></div>
<% end %>
<% if signed_in? %>
      <div id="left">
        <div class="chat-room2">
          <div class="card no-outline">
            <div class="card-body2">
                Signed in as: <%= current_user.email %>
                <br>
                <br>
                <%= button_to 'Sign out', sign_out_path, id: "room-btn", class: "btn btn-outline-primary btn-block", method: :delete %>
              <div id="flash">
                <% flash.each do |key, value| %>
                  <div class="flash <%= key %>"><%= value %></div>
                <% end %>
              </div>
            </div>
          </div>
          <hr>
          <script>
          function redirectFunction() {
            window.location.replace('/search?callFunction=specialFunction');
          }
          </script>
          <button onclick="redirectFunction()" id="searcher" class="btn btn-outline-secondary btn-block">Search</button>
          <hr>
          <%= render 'form', room: Room.new %>
          <hr>
          <% @rooms.each do |room| %>
            <% if room.users.exists?(current_user.id) %>
              <% if room.columndialogue %>
                <%= link_to room, class: 'room-link' do %>
                  <% active_class = (@room == room) ? 'active' : '' %>
                    <div class="card no-outline mb-2 room-card <%= active_class %>">
                      <div class="card-body">
                        <% room.users.where.not(id: current_user.id).uniq.each do |other_user| %>
                          <span class='name'><%= other_user.email %></span><br>
                        <% end %>
                        <span class='member-count'>
                          <small><%= room.users.uniq.count %> Members</small>
                        </span>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                <%= link_to room, class: 'room-link' do %>
                  <% active_class = (@room == room) ? 'active' : '' %>
                    <div class="card no-outline mb-2 room-card <%= active_class %>">
                      <div class="card-body">
                        <span class='name'><%= room.name %></span><br>
                        <span class='member-count'>
                          <small><%= room.users.uniq.count %> Members</small>
                        </span>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <br>
          <br>
        </div>
      </div>
      <div id="right">
        <% if @room.present? %>
          <a class="members" href="#"><%= @room.users.uniq.count %> Members</a>
          <div class="chat-room">
            <nav class="navbar navbar-light">
              <% if @room.columndialogue %>
                <% if @room.users.exists?(current_user.id) %>
                  <span class="navbar-brand" href="#">
                    <% @room.users.where.not(id: current_user.id).uniq.each do |other_user| %>
                      <b><%= other_user.email %></b>
                    <% end %>
                  </span>
                <% else %>
                  <% if @room.users.uniq.count === 0 %>
                    <span class="navbar-brand" href="#">
                      <b><%= @room.name %></b>
                    </span>
                  <% else %>
                    <br>
                    <br>
                  <% end %>
                <% end %>
              <% else %>
                <span class="navbar-brand" href="#">
                  <b><%= @room.name %></b>
                </span>
              <% end %>
            </nav>
            <br>
            <div class="column">
              <div id="messages">
                <% if @room.columndialogue %>
                  <% if @room.users.exists?(current_user.id) %>
                    <% @room.messages.offset(1).each do |message| %>
                      <%= render 'messages/message', message: message %>
                    <% end %>
                  <% else %>
                    <% if @room.users.uniq.count === 0 %>
                      <% @room.messages.offset(1).each do |message| %>
                        <%= render 'messages/message', message: message %>
                      <% end %>
                    <% else %>
                      <div class="card border-danger mb-3" style="margin-left:30px; margin-right:10px; background-color:#fdd7e4;">
                        <div class="card-header">Error</div>
                        <div class="card-body text-danger">
                          <h5 class="card-title">Access denied</h5>
                          <p class="card-text">This is a private chat. You're not an authorized user to enter this chat.</p>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% else %>
                  <% @room.messages.each do |message| %>
                    <%= render 'messages/message', message: message %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <br>
            <br>
            <div id="silent"></div>
            <% if @room.columndialogue %>
              <% if @room.users.exists?(current_user.id) %>
                <div class="chat-box">
                  <%= render 'messages/form', message: Message.new, room: @room %>
                </div>
              <% else %>
                <% if @room.users.uniq.count === 0 %>
                  <div class="chat-box">
                    <%= render 'messages/form', message: Message.new, room: @room %>
                  </div>
                <% else %>
                <% end %>
              <% end %>
            <% else %>
              <div class="chat-box">
                <%= render 'messages/form', message: Message.new, room: @room %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      
<% else %>
  <div class="d-flex align-items-center justify-content-center" style="height: 700px">
    <div class="container">
    
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row justify-content-md-center">
          <div class="col-xs-1 text-center">
            <br>
            <br>
            <%= link_to 'Sign in', sign_in_path, class: "btn btn-info btn-block" %>
            <br>
            <br>
            <h3 class="text-info">You can't chat if you're not signed in!</h3>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


