<% if signed_in? %>
  <div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
  <div id="user-id" data-user-id="<%= current_user.id %>"></div>
<% end %>

<% if signed_in? %>
      <div id="left">
        <div class="chat-room2">
          <div class="card no-outline">
            <div class="card-body2">
                Signed in as: <%= current_user.email %>
                <br>
                <br>
                <%= button_to 'Sign out', sign_out_path, class: "btn btn-primary btn-block", method: :delete %>
              <div id="flash">
                <% flash.each do |key, value| %>
                  <div class="flash <%= key %>"><%= value %></div>
                <% end %>
              </div>
            </div>
          </div>
          <hr>
          <%= render 'search' %>
          <hr>
          <%= render 'form', room: Room.new %>
          <hr>
          <% @rooms.each do |room| %>
            <% if room.users.exists?(current_user.id) %>
              <%= link_to room, class: 'room-link' do %>
                <% active_class = (@room == room) ? 'active' : '' %>
                  <div class="card no-outline mb-2 room-card <%= active_class %>">
                    <div class="card-body">
                      <span class='name'><%= room.name %></span><br>
                      <span class='member-count'>
                        <small><%= room.users.uniq.count %> Members</small>
                      </span>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <br>
          <br>
        </div>
      </div>
      <div id="right">
        <% if @room.present? %>
          <a class="members" href="#"><%= @room.users.uniq.count %> Members</a>
          <div class="chat-room">
            <nav class="navbar navbar-light">
              <span class="navbar-brand" href="#">
                <b><%= @room.name %></b>
              </span>
            </nav>
            
            <br>
            <div class="column">
              <div id="messages">
                <% @room.messages.each do |message| %>
                  <%= render 'messages/message', message: message %>
                <% end %>
              </div>
            </div>
            <br>
            <br>
            <div id="silent"></div>
            <div class="chat-box">
              <%= render 'messages/form', message: Message.new, room: @room %>
            </div>
          </div>
        <% end %>
      </div>
      
<% else %>
  <div class="d-flex align-items-center justify-content-center" style="height: 700px">
    <div class="container">
    
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row justify-content-md-center">
          <div class="col-xs-1 text-center">
            <br>
            <br>
            <%= link_to 'Sign in', sign_in_path, class: "btn btn-info btn-block" %>
            <br>
            <br>
            <h3 class="text-info">You can't chat if you're not signed in!</h3>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>