<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<section>
    <div class="d-flex align-items-center justify-content-center" style="height: 700px">
        <div class="container-fluid"> 
            <div id="clearance" class="sign-in">
                <div class="col-md-6 offset-md-3">
                    <div class="shadow-lg p-3 mb-5 bg-white rounded">
                        <div class="row justify-content-md-center">
                            
                            <div id="clearance" class="sign-up">
                                <br>
                                <h2><%= t(".Sign up") %></h2>
                                <br>
                                <%= form_for @user do |form| %>
                                    <div class="text-field">
                                    <%= form.label :email %>
                                    <%= form.text_field :email, class: 'form-control', type: 'email' %>
                                  </div>
                                  <br>
                                  <div class="password-field">
                                    <%= form.label :password %>
                                    <%= form.password_field :password, class: 'form-control' %>
                                  </div>
                                
                                <br>
                                <div class="submit-field">
                                    <%= form.submit class: "btn btn-primary btn-block" %>
                                </div>

                                <div class="other-links">
                                    <%= link_to t(".sign_in"), sign_in_path %>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
