<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<section>
    <div class="d-flex align-items-center justify-content-center" style="height: 700px">
        <div class="container-fluid"> 
            <div id="clearance" class="sign-in">
                <div class="col-md-6 offset-md-3">
                    <div class="shadow-lg p-3 mb-5 bg-white rounded">
                        <div class="row justify-content-md-center">
                            <div id="clearance" class="password-reset">
                            <h2><%= t(".Reset password") %></h2>
                        
                            <p><%= t(".Reset your password using the form below: specify your email.") %></p>
                        
                            <%= form_for :password, url: passwords_path do |form| %>
                            <div class="text-field">
                                <%= form.label :email %>
                                <%= form.text_field :email, type: 'email', class: 'form-control' %>
                            </div>
                            <br>
                            <div class="submit-field">
                                <%= form.submit class: "btn btn-primary btn-block" %>
                            </div>
                            <% end %>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
