<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<section>
    <div class="d-flex align-items-center justify-content-center" style="height: 700px">
        <div class="container-fluid"> 
            <div id="clearance" class="sign-in">
                <div class="col-md-6 offset-md-3">
                    <div class="shadow-lg p-3 mb-5 bg-white rounded">
                        <div class="row justify-content-md-center">
                            <%= form_for :session, url: session_path do |form| %>
                                <br>
                                <h1>Sign in</h1>
                                <br>
                                <div class="text-field">
                                    <%= form.label :email %>
                                    <%= form.text_field :email, class: 'form-control', type: 'email' %>
                                </div>
                                <br>
                                <div class="password-field">
                                    <%= form.label :password %>
                                    <%= form.password_field :password, class: 'form-control' %>
                                </div>
                                <br>
                                <div class="submit-field">
                                    <%= form.submit class: "btn btn-primary btn-block" %>
                                </div>
                                <div class="other-links">
                                    <div class="left-linked">
                                        <% if Clearance.configuration.allow_sign_up? %>
                                            <%= link_to t(".sign_up"), sign_up_path %>
                                        <% end %>
                                    </div>
                                    <div class="right-linked">
                                        <%= link_to t(".forgot_password"), new_password_path %>
                                    </div>
                                </div>
                                <br>
                                <br>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
